/* Reset default browser styles */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Page background styling */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: "Roboto", sans-serif;
  margin: 0;
  width: 100%;
}

/* Header styling */
header {
  background-color: #ad8b73;
  color: #fff;
  padding: 20px;
  text-align: center;
  padding-bottom: 0;
  width: 100%;
}

h1 {
  font-size: 36px;
  font-family: "Lato", sans-serif;
}

/* Navigation styling */
/* Reset default list styles */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation list */
.nav-list {
  display: flex;
  justify-content: center;
  padding: 5vh;
  gap: 10%;
}

/* Style navigation links */
.nav-list a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  opacity: 0.8;
}

/* Style the icons */
.nav-list i {
  font-size: 24px;
  margin: 1.25vh;
}

/* Main content styling */
.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  align-items: center;
  background-color: #ceab93;
  width: 100%;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Footer styling */
footer {
  display: flex;
  justify-content: center;
  background-color: #e3caa5;
  text-align: center;
  width: 100%;
  max-height: 15vh;
  font-family: "roboto", "san-serif";
}
footer .nav-list a {
  opacity: 1;
}

footer li span {
  font-size: 1rem;
  font-family: "lato";
}

/* Link styling */

a:hover {
  opacity: 1;
}

footer a:hover {
  animation: shake 0.82s;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(0, -1px, 0);
  }
  20%,
  80% {
    transform: translate3d(0, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, -2px, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 2px, 0);
  }
}
