.new-cafe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ceab93;
  width: 100%;
  gap: 20px;
  height: 50vh;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  max-height: 30vh;
}

.form-group {
  display: flex;
  justify-content: space-between;
  width: 125%;
}
