{% extends 'base.html' %}{% block header%}
<link
  rel="stylesheet"
  href="{{ url_for('.static', filename='assets/css/cafe.css') }}"
/>
{% endblock %} {% block content %}
<section class="cafe">
  <div class="cafe-container">
    <img class="cafe-picture" src="{{ cafe.img_url }}" alt="" />
    <a class="cafe-text" href="#">
      <h2>{{ cafe.name }}</h2>
    </a>
    <form
      action="{{url_for('patch_new_price',cafe_id=cafe.id )}}"
      method="post"
      class="form-example"
    >
      <div class="update-link">
        <label for="new_price">Update cafe price: </label>
        <input type="text" name="new_price" id="new_price" required />
        <button type="submit" id="new_price">change it!</button>
      </div>
    </form>
  </div>
  <div class="cafe-description">
    <p><a href="{{ cafe.map_url }}">Google Maps: {{ cafe.location }}</a></p>
    <p>How many seats? {{ cafe.seats}}</p>
    <p>Toilets? {{ cafe.has_toilet}}</p>
    <p>Has Wifi? {{ cafe.has_wifi}}</p>
    <p>Has sockets? {{ cafe.has_sockets}}</p>
    <p>Can take calls? {{cafe.can_take_calls}}</p>
    <p>Pricing: {{ cafe.coffee_price}}</p>
    <a class="delete-link" href="{{ url_for('delete_caffe', cafe_id=cafe.id) }}"
      ><i class="fas fa-exclamation-triangle"></i> Delete</a
    >
  </div>
</section>

{% endblock %}
