{% extends 'base.html' %} {% block content %}
<section class="cafe">
  <div class="cafe-container">
    <img class="cafe-picture" src="{{ cafe.img_url }}" alt="" />
    <a
      class="cafe-text"
      href="{{ url_for('selected_coffee', cafe_id=cafe.id) }}"
    >
      <h2>{{ cafe.name }}</h2>
    </a>
  </div>
  <div class= "cafe-description">
    <p><a href="{{ cafe.map_url }}">Google Maps: {{ cafe.location }}</a></p>
    <p>How many seats? {{ cafe.seats}}</p>
    <p>Toilets? {{ cafe.has_toilet}}</p>
    <p>Has Wifi? {{ cafe.has_wifi}}</p>
    <p>Has sockets? {{ cafe.has_sockets}}</p>
    <p>Can take calls? {{cafe.can_take_calls}}</p>
    <p>Pricing: {{ cafe.coffee_price}}</p>
  </div>
</section>

{% endblock %}
