<!DOCTYPE HTML>

<html>
	<head>
		<title>Coffee and Wifi</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="static/images/coffee.png" alt="" /></span>
									<span class="title">Coffee and Wi-fi </span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

<!--				&lt;!&ndash; Menu &ndash;&gt;-->
<!--					<nav id="menu">-->
<!--						<h2>Menu</h2>-->
<!--						<ul>-->
<!--							<li><a href="index.html">Home</a></li>-->
<!--							<li><a href="generic.html">Ipsum veroeros</a></li>-->
<!--							<li><a href="generic.html">Tempus etiam</a></li>-->
<!--							<li><a href="generic.html">Consequat dolor</a></li>-->
<!--							<li><a href="elements.html">Elements</a></li>-->
<!--						</ul>-->
<!--					</nav>-->

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>The best work and study-friendly cafes, restaurants, and hotel lobbies in London.</h1>
								<p>Find venues with free and reliable Wi-Fi hotspots, ample power sockets, and comfy seating areas. </p>
							</header>